<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>360097262724-k6k0e8g8artu7suvmn8hcbcehn4d4ktk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.360097262724-k6k0e8g8artu7suvmn8hcbcehn4d4ktk</string>
	<key>API_KEY</key>
	<string>AIzaSyCM0VFcf62lVZljeR8gjs89XZ8OdrpbADk</string>
	<key>GCM_SENDER_ID</key>
	<string>360097262724</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.u6amtech.flutterRestaurant</string>
	<key>PROJECT_ID</key>
	<string>test-2674b</string>
	<key>STORAGE_BUCKET</key>
	<string>test-2674b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:360097262724:ios:0eeb6e719bf90c8fca26d1</string>
</dict>
</plist>